sse_starlette
bs4
pypdf
groq
cassio
faiss-cpu
chromadb
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
streamlit
langchain_community
langchain_google_genai
python-dotenv
langchain_core
pydantic
langchain_huggingface
langchain
huggingface-hub
transformers
